<div class="right">
  <about-header></about-header>
  <!--wrap fixed-->

  <div class="a_about_page active">
    <div class="basic_bill">
      <div class="b_name">
        <p class="bf">官方認證</p>
      </div>
      <div class="save_type about_size">
        <div class="mb_box">
          <div class="ab_wrap">
            <div class="box">
              <span class="office_i i1"></span>
              <p>英國GC<br>
                監督委員會</p>
            </div>
            <div class="box">
              <span class="office_i i2"></span>
              <p>馬耳他博彩牌照<br>
                MGA認證</p>
            </div>
            <div class="box">
              <span class="office_i i3"></span>
              <p>英屬維爾京群島<br>
                BVI認證</p>
            </div>
            <div class="box">
              <span class="office_i i4"></span>
              <p>英屬維爾京群島PAGCOR<br>
                監督博彩牌照</p>
            </div>
          </div>
        </div>
        <!--m_box-->
      </div>
    </div>
    <!--basic_bill-->
    <div class="basic_bill">
      <div class="b_name">
        <p class="bf">贊助夥伴</p>
      </div>
      <div class="save_type about_size_row2">
        <div class="mb_box">
          <div class="row_top">
            <div class="box">
              <span class="office_i i1"></span>
              <p>英超曼聯<br>
                全球贊助商</p>
            </div>
            <div class="box">
              <span class="office_i i2"></span>
              <p>義甲聯賽<br>
                全球贊助商</p>
            </div>
            <div class="box">
              <span class="office_i i3"></span>
              <p>德甲拜仁慕尼黑<br>
                亞洲區贊助商</p>
            </div>
            <div class="box">
              <span class="office_i i4"></span>
              <p>英超萊斯特城<br>
                亞洲區贊助商</p>
            </div>
            <div class="box">
              <span class="office_i i5"></span>
              <p>阿根廷國家隊<br>
                官方合作夥伴</p>
            </div>
          </div>
          <!--top-->
          <div class="row_bot">
            <div class="box">
              <span class="office_i i6"></span>
              <p>法甲摩納哥<br>
                官方合作夥伴</p>
            </div>
            <div class="box">
              <span class="office_i i7"></span>
              <p>德甲柏林赫塔<br>
                官方合作夥伴</p>
            </div>
          </div>
          <!--bot-->
        </div>
        <!--mb_box-->
      </div>
    </div>
    <!--basic_bill-->
  </div>
  <!--a_about_page-->
  <div class="a_link_page">
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon"></i>
          <div class="link_title">
            <p>美國職棒大聯盟</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i2"></i>
          <div class="link_title">
            <p>日本職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i3"></i>
          <div class="link_title">
            <p>中華職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i4"></i>
          <div class="link_title">
            <p>美國NBA職業籃球官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i5"></i>
          <div class="link_title">
            <p>DONBEST</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i6"></i>
          <div class="link_title">
            <p>韓國男子籃球</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i7"></i>
          <div class="link_title">
            <p>NCAA官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i8"></i>
          <div class="link_title">
            <p>國家美式足球網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon"></i>
          <div class="link_title">
            <p>美國職棒大聯盟</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i2"></i>
          <div class="link_title">
            <p>日本職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i3"></i>
          <div class="link_title">
            <p>中華職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i4"></i>
          <div class="link_title">
            <p>美國NBA職業籃球官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i5"></i>
          <div class="link_title">
            <p>DONBEST</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i6"></i>
          <div class="link_title">
            <p>韓國男子籃球</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i7"></i>
          <div class="link_title">
            <p>NCAA官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i8"></i>
          <div class="link_title">
            <p>國家美式足球網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon"></i>
          <div class="link_title">
            <p>美國職棒大聯盟</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i2"></i>
          <div class="link_title">
            <p>日本職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i3"></i>
          <div class="link_title">
            <p>中華職棒官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i4"></i>
          <div class="link_title">
            <p>美國NBA職業籃球官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
    <div class="link_row">
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i5"></i>
          <div class="link_title">
            <p>DONBEST</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i6"></i>
          <div class="link_title">
            <p>韓國男子籃球</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i7"></i>
          <div class="link_title">
            <p>NCAA官方網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
      <div class="box">
        <div class="box_wrap">
          <i class="link_icon i8"></i>
          <div class="link_title">
            <p>國家美式足球網站</p>
          </div>
          <!--link_title-->
        </div>
      </div>
    </div>
    <!--link_row-->
  </div>
  <!--a_link_page-->
</div>