<div class="right">
  <moneybag-header (childEvent)="change($event)"></moneybag-header>
  <!--錢包金額-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">錢包金額</p>
      <div class="right_box">
        <div class="reset_icon"></div>
        <p>重新整理</p>
      </div>
    </div>
    <div class="save_type">
      <div class="mb_box">
        <div class="b50">
          <div class="mb_i1"></div>
          <div class="text_wrap">
            <p>中心錢包</p>
            <p>NT$<span>152,196,589,448</span></p>
          </div>
          <button class="r_btn">
            <p>一鍵回收</p>
          </button>
        </div>
        <div class="b50">
          <div class="mb_i2"></div>
          <div class="text_wrap">
            <p>鎖定錢包</p>
            <p class="red">NT$<span class="red">152,196,589,448</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--addCard-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">銀行卡</p>
      <div class="right_box">
        <p>卡片數量&ensp;:&ensp;0/3</p>
      </div>
    </div>
    <div class="save_type">
      <div class="cards">
        <div class="box_3">
          <div class="m_card card_box ">
            <div class="icon_wrap">
              <span class="c_icon"></span>
              <p>添加銀行卡</p>
            </div>
          </div>
        </div>
        <div class="box_3">
          <div class="m_card card_box">
            <div class="icon_wrap">
              <span class="c_icon"></span>
              <p>添加銀行卡</p>
            </div>
          </div>
        </div>
        <div class="box_3">
          <div class="m_card card_box">
            <div class="icon_wrap">
              <span class="c_icon"></span>
              <p>添加銀行卡</p>
            </div>
          </div>
        </div>

      </div>
      <span class="infor_line"><i class="infor_i_g"></i>
        <span>最多支援3張銀行卡
          <!--  <span class="link">線上客服
                  <a href="./my_contact_us.html"></a>
                </span> -->
        </span>
      </span>
    </div>
  </div>
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">錢包明細</p>
    </div>
    <div class="save_type">
      <div class="trans_card">
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152,196,589,448</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">15,000</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152,196,589,448</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152</span>
            </div>
          </div>
        </div>
      </div>
      <div class="trans_card">
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152,196,589,448</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">15,000</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152,196,589,448</span>
            </div>
          </div>
        </div>
        <div class="box_4">
          <div class="box">
            <div class="row">
              <span>○○體育</span>
              <div class="right_box">

              </div>
            </div>
            <div class="row">
              <span class="sm_t">NT$</span>
              <span class="big_t">152</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--money_data-->
  <!--added Card-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">銀行卡</p>
      <div class="right_box">
        <p>卡片數量 : 3/3</p>
      </div>
    </div>
    <div class="save_type">
      <div class="cards">
        <div class="box_3">
          <div class="card_box blue_card text_left finish_card ">
            <div class="card_name">
              <i class="i1 icon"></i>
              <div class="r_wrap">
                <span>建設銀行</span>
                <span>儲蓄卡</span>
              </div>
            </div>
            <div class="card_num">
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>9572</span>
            </div>
            <div class="card_check blue"></div>
          </div>
        </div>
        <div class="box_3">
          <div class="card_box green_card text_left finish_card">
            <div class="card_name">
              <i class="i2 icon"></i>
              <div class="r_wrap">
                <span>農業銀行</span>
                <span>儲蓄卡</span>
              </div>
            </div>
            <div class="card_num">
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>1578</span>
            </div>
            <div class="card_check green"></div>
          </div>
        </div>
        <div class="box_3">
          <div class="card_box pink_card text_left finish_card">
            <div class="card_name">
              <i class="i3 icon"></i>
              <div class="r_wrap">
                <span>中國銀行</span>
                <span>儲蓄卡</span>
              </div>
            </div>
            <div class="card_num">
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>◆◆◆◆</span>
              <span>3682</span>
            </div>
            <div class="card_check pink"></div>
          </div>
        </div>
      </div>
      <span class="infor_line"><i class="infor_i_g"></i>
        <span>您的銀行卡以綁定,如需修改提領銀行卡請 <span class="blue link_area">洽詢客服
            <a href="../my/my_contact_us_sev.html"></a>
          </span></span>
      </span>
    </div>
  </div>


</div>