<div class="right">
  <contact-header (childEvent)="changeboolin($event)"></contact-header>
  <div [ngClass]="{'active':boolin[0]}" class="messages_page">
    <contact-message></contact-message>
  </div>
  <!--messages_page-->
  <div [ngClass]="{'active':boolin[1]}" class="events_page">
    <contact-events></contact-events>
  </div>
  <!--events_page-->
  <div [ngClass]="{'active':boolin[2]}" class="anno_page">
    <contact-anno></contact-anno>
  </div>
  <!--anno_page-->
  <div [ngClass]="{'active':boolin[3]}" class="game_anno_page">
    <contact-gameanno></contact-gameanno>
  </div>
  <!--game_anno_page-->

</div>