<ul class="card gray big_mode big_size">
  <li class="g_name"><i class="i1"></i>
    <p>2020-05-31</p>
  </li>
  <li class="title">
    <div class="b10 t_mid">
      <p>開賽時間</p>
    </div>
    <div class="b18 t_mid">
      <p>聯盟</p>
    </div>
    <div class="b38 t_mid">
      <p>主客隊伍</p>
    </div>
    <div class="b17 t_mid">
      <p>半場</p>
    </div>
    <div class="b17 t_mid">
      <p>全場</p>
    </div>
  </li>
  <li class="row">
    <div class="b10 t_mid gray">
      <p>40:20</p>
    </div>
    <div class="b18 t_mid half">
      <p>義大利甲級聯賽</p>
    </div>
    <div class="b38 t_left half">
      <div><em class="wrap">
          <p class="t_hidden">拉素</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">羅維納</p>
        </em></div>
    </div>
    <div class="b17 t_mid half">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
    <div class="b17 t_mid half red">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
  </li>
  <li class="row">
    <div class="b10 t_mid gray">
      <p>40:20</p>
    </div>
    <div class="b18 t_mid half">
      <p>義大利甲級聯賽</p>
    </div>
    <div class="b38 t_left half">
      <div><em class="wrap">
          <p class="t_hidden">拉素</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">羅維納</p>
        </em></div>
    </div>
    <div class="b17 t_mid half">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
    <div class="b17 t_mid half red">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
  </li>
</ul>
<ul class="card gray big_mode big_size">
  <li class="g_name"><i class="i1"></i>
    <p>2020-05-30</p>
  </li>
  <li class="title">
    <div class="b10 t_mid">
      <p>開賽時間</p>
    </div>
    <div class="b18 t_mid">
      <p>聯盟</p>
    </div>
    <div class="b38 t_mid">
      <p>主客隊伍</p>
    </div>
    <div class="b17 t_mid">
      <p>半場</p>
    </div>
    <div class="b17 t_mid">
      <p>全場</p>
    </div>
  </li>
  <li class="row">
    <div class="b10 t_mid gray">
      <p>40:20</p>
    </div>
    <div class="b18 t_mid half">
      <p>義大利甲級聯賽</p>
    </div>
    <div class="b38 t_left half">
      <div><em class="wrap">
          <p class="t_hidden">拉素</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">羅維納</p>
        </em></div>
    </div>
    <div class="b17 t_mid half">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
    <div class="b17 t_mid half red">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
  </li>
  <li class="row">
    <div class="b10 t_mid gray">
      <p>40:20</p>
    </div>
    <div class="b18 t_mid half">
      <p>義大利甲級聯賽</p>
    </div>
    <div class="b38 t_left half">
      <div><em class="wrap">
          <p class="t_hidden">拉素</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">羅維納</p>
        </em></div>
    </div>
    <div class="b17 t_mid half">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
    <div class="b17 t_mid half red">
      <div><em class="wrap">
          <p class="t_hidden">4</p>
        </em></div>
      <div><em class="wrap">
          <p class="t_hidden">2</p>
        </em></div>
    </div>
  </li>
</ul>