<div class="right">
  <div class="wrap none">
    <div class="game_in my_page_bill">
    </div>
    <!--gi-->
    <div class="search_bar">
    </div>
    <!--sb-->
    <div class="bill_record_d_card">
      <div class="basic_b b18"><span>交易時間</span></div>
      <div class="basic_b b12"><span>交易編號</span></div>
      <div class="basic_b b16"><span>存款方式</span></div>
      <div class="basic_b b20"><span>存款金額</span></div>
      <div class="basic_b b19"><span>備註</span></div>
      <div class="basic_b b15"><span>交易進度</span></div>
    </div>
  </div>
  <div class="wrap fixed">
    <div class="game_in my_page_bill">
      <div class="bill_left">
        <p>交易紀錄</p>
      </div>
      <div class="my_bill_mid">
        <div class="m_box">
          <p></p>
          <p class="blue"></p>
        </div>
      </div>
      <div class="bill_right">

      </div>
    </div>
    <div class="search_bar">
      <p [ngClass]="{'active':boolin[0]}" class="re_save_btn" (click)="changeboolin(0)">存款
        <a [routerLink]="['/index/member/transrecord/recordbox']"></a>
      </p>
      <div class="line"></div>
      <p [ngClass]="{'active':boolin[1]}" class="re_trans_btn" (click)="changeboolin(1)">轉點
        <a [routerLink]="['/index/member/transrecord/transfor']"></a>
      </p>
      <div class="line"></div>
      <p [ngClass]="{'active':boolin[2]}" class="re_cash_btn" (click)="changeboolin(2)">取款
        <a [routerLink]="['/index/member/transrecord/takeout']"></a>
      </p>
      <div class="right_box">
        <span class="date_icon"></span>
        <div class="day_box">
          <span>2020-05-25</span>
          <span class="tri"></span>
          <div class="day_drow">
            <span>2020-05-26</span>
            <span>2020-05-27</span>
            <span>2020-05-28</span>
            <span>2020-05-29</span>
            <span>2020-05-30</span>
          </div>
        </div>
        <div class="row_line"></div>
        <span class="date_icon"></span>
        <div class="day_box">
          <span>2020-05-31</span>
          <span class="tri"></span>
        </div>
        <div class="tag_wrap">
          <span class="tag"><span>查詢</span></span>
        </div>
      </div>

    </div>
    <div class="bill_record_d_card">
      <div class="basic_b b18"><span>交易時間</span></div>
      <div class="basic_b b12"><span>交易編號</span></div>
      <div class="basic_b b16"><span>存款方式</span></div>
      <div class="basic_b b20"><span>存款金額</span></div>
      <div class="basic_b b19"><span>備註</span></div>
      <div class="basic_b b15"><span>交易進度</span></div>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>