<div class="search_bar none">
</div>
<!--search_bar-->
<div class="wrap fixed">
    <div class="search_bar">
        <p [ngClass]="{'active':boolin[0]}" (click)="changeboolin(0)">所有賽事</p>
        <div class="line"></div>
        <p [ngClass]="{'active':boolin[1]}" (click)="changeboolin(1)">早盤投注</p>
        <div class="line"></div>
        <p [ngClass]="{'active':boolin[2]}" (click)="changeboolin(2)">串關投注</p>
        <div class="line"></div>
        <p [ngClass]="{'active':boolin[3]}" (click)="changeboolin(3)">比賽結果</p>
        <div *ngIf="!boolin[3]" class="right_box">
            <p [ngClass]="{'active':league}" (click)="leaguechoice()" class="ball_cho">選擇聯盟</p>
            <span class="arrow"></span>
            <div class="line"></div>
            <p>時間排序</p>
            <span class="arrow"></span>
        </div>
        <div *ngIf="boolin[3]" class="right_box">
            <p [ngClass]="{'active':league}" (click)="leaguechoice()" class="ball_cho">選擇聯盟</p>
            <div class="arrow"></div>
            <div class="line"></div>
            <span class="date_icon"></span>
            <div class="day_box">
                <span>2020-05-25</span>
                <span class="tri"></span>
            </div>
            <div class="row_line"></div>
            <span class="date_icon"></span>
            <div class="day_box">
                <span>2020-05-31</span>
                <span class="tri"></span>
            </div>
            <div class="tag_wrap">
                <span class="tag"><span>查詢</span></span>
            </div>
        </div>
    </div>
    <!--fixed 才是真的-->
    <div [ngClass]="{'active':league}" class="league_choice">
        <div class="row" (click)="checkactive(0)">
            <div class="b33_3">
                <span [ngClass]="{'active':leaguecheck[0]}" class="check"></span>
                <p>選取/取消所有聯盟</p>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of leaguebox">
                <div class="b33_3" (click)="checkactive(item.CHID)">
                    <span [ngClass]="{'active':leaguecheck[item.CHID]}" class="check"></span>
                    <p>{{ item.league }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'active':boolin[0]}" class="sign_in_status">
    <stock-content (soloEvent)="getSolo($event)"></stock-content>
</div>
<div [ngClass]="{'active':boolin[2]}" class="sign_in_status">
    <stock-content (soloEvent)="getSolo($event)"></stock-content>
</div>
<div [ngClass]="{'active':boolin[3]}" class="sign_in_status">
    <stresult></stresult>
</div>