<div class="right">
  <div class="search_bar none">
  </div>
  <!--search_bar-->
  <div class="wrap fixed">
    <div class="search_bar">
      <p class="active">所有賽事
        <a href="../special/basball_bet_page.html"></a>
      </p>
      <div class="line"></div>
      <p>早盤投注</p>
      <div class="line"></div>
      <p>串關投注
        <a href="../special/basball_bet_page.html"></a>
      </p>
      <div class="line"></div>
      <p>比賽結果
        <a href="./basball_result.html"></a>
      </p>
      <div class="line"></div>
      <p>盤口教程
        <a href="./basball_teach.html"></a>
      </p>
      <div class="right_box">
        <p class="ball_cho">選擇聯盟</p>
        <span class="arrow"></span>
        <div class="line"></div>
        <p>時間排序</p>
        <span class="arrow"></span>
        <div class="line"></div>
        <p class="beginner start">新手版</p>
        <span class="arrow"></span>
      </div>
    </div>
    <!--fixed 才是真的-->
    <div class="league_choice">
      <div class="row">
        <span class="check active"></span>
        <p>選取/取消所有聯盟</p>
      </div>
      <div class="row">
        <div class="b33_3">
          <span class="check active"></span>
          <p>義大利甲組聯賽</p>
        </div>
        <div class="b33_3">
          <span class="check active"></span>
          <p>法國甲組聯賽</p>
        </div>
        <div class="b33_3">
          <span class="check active"></span>
          <p>英格蘭足總盃</p>
        </div>
