<div class="right">
  <div class="wrap none">
    <div class="game_in tab">
    </div>
    <div class="search_bar">
    </div>
  </div>
  <div class="wrap fixed">
    <div class="game_in tab">
      <ul class="in_left">
        <li>2020/02/06 03:45</li>
        <li>FNTR莫斯科公開賽</li>
      </ul>
      <ul class="mid">
        <li>03:45</li>
        <li>VS
          <span class="team_left_point">-</span>
          <span class="team_right_point">-</span>
        </li>
        <li>未開賽</li>
      </ul>
      <ul class="in_right">
        <div class="row">
          <li><span class="i2"></span></li>
          <li><span class="i1"></span></li>
        </div>
      </ul>
      <div class="t_wrap1">
        <div class="box">
          <p> Dmitry<br>
            Tikhnenko</p>
        </div>
      </div>
      <div class="t_wrap2">
        <div class="box">
          <p>
            Artem<br>
            Aronov
          </p>
        </div>
      </div>
    </div>
    <div class="search_bar">
      <div class="back_wrap">
        <div class="arrow_w"></div>
        <p>返回</p>
        <a href="javascript:history.back()"></a>
      </div>
      <p class="active">所有盤口</p>
      <div class="line"></div>
      <p>全場</p>
      <div class="line"></div>
      <p>半場</p>
      <div class="line"></div>
      <p>節</p>
    </div>
  </div>
  <ul class="more_bet">
    <li class="g_name">
      <p>獨贏</p>
    </li>
    <li class="g_table box_2">
      <span class="two_text">
        <p>主</p>
        <p class="blue">0.96</p>
      </span>
      <span class="two_text">
        <p>客</p>
        <p class="blue">0.96</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>讓分</p>
    </li>
    <li class="g_table box_4">
      <span class="solo no_use">
        <p>主</p>
      </span>
      <span class="two_text">
        <p>+1.5</p>
        <p class="blue">0.33</p>
      </span>
      <span class="solo no_use">
        <p>主</p>
      </span>
      <span class="two_text">
        <p>+1.5</p>
        <p class="blue">2.04</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>讓局</p>
    </li>
    <li class="g_table box_4">
      <span class="solo no_use">
        <p>主</p>
      </span>
      <span class="two_text">
        <p>+1.5</p>
        <p class="blue">0.33</p>
      </span>
      <span class="solo no_use">
        <p>主</p>
      </span>
      <span class="two_text">
        <p>+1.5</p>
        <p class="blue">2.04</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>總局數:大/小</p>
    </li>
    <li class="g_table box_4">
      <span class="solo no_use">
        <p>大</p>
      </span>
      <span class="two_text">
        <p>22.5</p>
        <p class="blue">0.87</p>
      </span>
      <span class="solo no_use">
        <p>小</p>
      </span>
      <span class="two_text">
        <p>22.5</p>
        <p class="blue">0.87</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>冠軍-第一盤</p>
    </li>
    <li class="g_table box_2">
      <span class="two_text">
        <p>主</p>
        <p class="blue">0.96</p>
      </span>
      <span class="two_text">
        <p>客</p>
        <p class="blue">0.96</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>總局數:大/小-第一盤</p>
    </li>
    <li class="g_table box_4">
      <span class="solo no_use">
        <p>大</p>
      </span>
      <span class="two_text">
        <p>22.5</p>
        <p class="blue">0.87</p>
      </span>
      <span class="solo no_use">
        <p>小</p>
      </span>
      <span class="two_text">
        <p>22.5</p>
        <p class="blue">0.87</p>
      </span>
    </li>

  </ul>
  <ul class="more_bet">
    <li class="g_name">
      <p>總局數:單/雙</p>
    </li>
    <li class="g_table box_2">
      <span class="two_text">
        <p>單</p>
        <p class="blue">0.96</p>
      </span>
      <span class="two_text">
        <p>雙</p>
        <p class="blue">0.96</p>
      </span>
    </li>

  </ul>
</div>
<div class="right_2 active">
  <div class="live_page">
    <div class="live_title">
      <div class="wrap">
        <div class="l_box"><span class="icon_tv_gold"></span>
          <p class="live_t">體育直播</p>
        </div>
        <div class="r_box">
          <p class='teach_btn'>投注教程</p><span class="icon_infor"></span>
        </div>
        <div class="infor_con">
          <p>
            此版面顯示的所有直播內容僅參考，會員亦可
            使用此內容為指南。我們將盡最大努力確保顯
            示的內容是正確的，如有錯誤，本公司不承擔
            任何責任。對於滾球比分，例如滾球讓球，將
            以投注時在投注單中顯示的正確本分為準。
          </p>
        </div>
      </div>
    </div>
    <div class="live_view">
      <div class="live_title for_view">
        <div class="l_box">
          <p>布咸美恩斯&ensp;1905<span>接球員_Sea_food</span></p>
        </div>
        <div class="m_box">
          <span class="point_left">1</span>
          <p class="blue">VS</p><span class="point_right">1</span>
        </div>
        <div class="r_box">
          <p>布拉格斯拉維亞B<span>接球員_Chickens</span></p>
        </div>
      </div>
      <div class="live_box">
        <div class="live_box_in"></div>
      </div>
    </div>
    <div class="live_games">
      <div class="live_tag">
        <button class="live_1 active">直播賽事</button>
        <button class="live_2">聊天室</button>
      </div>
      <div class="live_content active">
        <div class="live_balls active">
          <div class="ball_wrap start active">
            <div class="ball_title">
              <i class="i1"></i>
              <p class="b_name">足球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow active">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i2"></i>
              <p class="b_name">棒球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i3"></i>
              <p class="b_name">籃球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i4"></i>
              <p class="b_name">賽馬賽狗</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i5"></i>
              <p class="b_name">電競</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i6"></i>
              <p class="b_name">指數</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i7"></i>
              <p class="b_name">彩球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i8"></i>
              <p class="b_name">冰球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i9"></i>
              <p class="b_name">網球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i10"></i>
              <p class="b_name">斯諾克</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i11"></i>
              <p class="b_name">排球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i12"></i>
              <p class="b_name">賽車</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i13"></i>
              <p class="b_name">羽毛球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i14"></i>
              <p class="b_name">美式足球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i15"></i>
              <p class="b_name">沙灘足球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="ball_wrap">
            <div class="ball_title">
              <i class="i16"></i>
              <p class="b_name">乒乓球</p>
              <div class="right_box">
                <p>20</p>
                <span class="arrow"></span>
              </div>
            </div>
            <ul class="ball_drow">
              <li>
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
              <li class="active">
                <div class="drow_left">
                  <h1 class="t_hidden">俱樂部友誼賽</h1>
                  <p class="t_hidden">布咸美恩斯 1905</p>
                  <p class="t_hidden">布拉格斯拉維亞 B</p>
                </div>
                <div class="drow_right">
                  <div class="change_wrap">
                    <h1 class="">06/24 18:00</h1>
                    <div class="active doing_wrap">
                      <p>直播中</p><span class="red_point"></span>
                    </div>
                  </div>
                  <div class="btn_wrap">
                    <button>動畫</button><button>直播</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="talk_content">
        <div class="live_talk">
          <div class="talk_box">
            <div class="talk_title">
              <span></span>
            </div>
            <div class="talk_box">
              <div class="time_tag">
                2020-06-29 18:06:02
              </div>
              <div class="play_wrap">
                <div class="p_name">
                  <p>a48968446</p>
                </div>
                <div class="p_box">
                  <p>耶耶耶</p>
                </div>
              </div>
              <div class="play_wrap">
                <div class="p_name">
                  <p>a48968446</p>
                </div>
                <div class="p_box">
                  <p>開始拉一一一</p>
                </div>
              </div>
              <div class="time_tag">
                2020-06-29 18:02:52
              </div>
              <div class="play_wrap">
                <div class="p_name">
                  <p>soccerlover999</p>
                </div>
                <div class="p_box">
                  <p>開始拉</p>
                </div>
              </div>
              <div class="play_wrap">
                <div class="p_name">
                  <p>soccerlover999</p>
                </div>
                <div class="p_box">
                  <p>布咸美恩斯贏面大</p>
                </div>
              </div>
              <div class="time_tag">
                2020-06-29 18:00:52
              </div>
              <div class="play_wrap myself">
                <div class="p_name">
                  <p>user545</p>
                </div>
                <div class="p_box">
                  <p>各位覺得哪一隊贏面大?</p>
                </div>
              </div>
              <div class="play_wrap myself">
                <div class="p_name">
                  <p>user545</p>
                </div>
                <div class="p_box">
                  <p>我振興卷押下去了Q_Q</p>
                </div>
              </div>
            </div>
          </div>
          <div class="talk_input">
            <div class="input_wrap">
              <textarea name=""></textarea>
              <div class="i_icon_wrap">
                <i class="i1"></i>
                <i class="i2"></i>
              </div>
            </div>
            <div class="talk_btn">
              <div class="button_wrap">
                <button class="cancel">
                  <p>取消</p>
                </button>
                <button class="send">
                  <p>發送</p><span class="tri"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>