<getcash-popup [getFather]="cashboolin" (childEvent)="getcash($event)"></getcash-popup>
<addcard [getFather]="cardboolin" (childEvent)="getcard($event)"></addcard>
<div class="container cn">
  <main class="my_page">
    <member-left (childEvent)="getChild($event)" (cashEvent)="getcash($event)" (cardEvent)="getcard($event)"
      [GetOptionValue]="LeftValue">
    </member-left>
  </main>
  <member-option (leftEvent)="leftValue($event)"></member-option>
  <div class="bg_t bg_t2"></div>
</div>

<aside [ngClass]="{'ch_pw':boolin,'ch_pw active black_bg':!boolin}">
  <changePassword (childEvent)="close($event)"></changePassword>
</aside>