<div class="page_beginner">
  <div class="search_bar teach">
    <p class="active">讓球
      <a [routerLink]="['/index/indexcontent/soccerteach']"></a>
    </p>
    <p>大小球
      <a [routerLink]="['/index/indexcontent/soteachbs']"></a>
    </p>
  </div>
  <ul class="card gray normal_mode mb">
    <li class="g_name bc">
      <p>足球-讓球-和局</p>
    </li>
    <div class="row h">
      <div class="t">
        <div class="l">
          <div class="i"></div>
          <div class="text">
            <div class="tt">曼聯[主]</div>
            <div class="tb"><span>1球</span><span class="red">0.910</span></div>
          </div>
        </div>
        <div class="vs">
          <p>VS</p>
        </div>
        <div class="r">
          <div class="i"></div>
          <div class="text">
            <div class="tt">阿仙奴</div>
            <div class="tb"><span> - </span><span class="red">0.970</span></div>
          </div>
        </div>
      </div>
      <div class="m">
        <div class="tml"></div>
        <div class="tmm">
          <p>投注本金1000元</p>
        </div>
        <div class="tmr"></div>
      </div>
      <div class="b">
        <div class="blt blue">讓球為 "1球"<br>故無法分出勝負<br>退回本金</div>
        <div class="bm">
          <div class="bmbl">
            <div class="tt gray">投注主隊</div>
            <div class="tb red">退回本金</div>
          </div>
          <div class="bmbm">
            <div class="tt">賽果</div>
            <div class="tb blue">1 - 0</div>
          </div>
          <div class="bmbmbg">
            <div>賽果</div>
            <div>1 - 0</div>
          </div>
          <div class="bmbr">
            <div class="tt gray">投注客隊</div>
            <div class="tb red">退回本金</div>
          </div>
        </div>
        <div class="brt blue">讓球為 "1球"<br>故無法分出勝負<br>退回本金</div>
      </div>
    </div>
  </ul>
  <ul class="card gray normal_mode mb">
    <li class="g_name bc">
      <p>足球-讓球-全贏/全輸</p>
    </li>
    <div class="row h">
      <div class="t">
        <div class="l">
          <div class="i"></div>
          <div class="text">
            <div class="tt">皇家馬德里[主]</div>
            <div class="tb"><span>1球半/2球</span><span class="red">0.920</span></div>
          </div>
        </div>
        <div class="vs">
          <p>VS</p>
        </div>
        <div class="r">
          <div class="i"></div>
          <div class="text">
            <div class="tt">巴塞隆納</div>
            <div class="tb"><span> - </span><span class="red">0.960</span></div>
          </div>
        </div>
      </div>
      <div class="m">
        <div class="tml"></div>
        <div class="tmm">
          <p>投注本金1000元</p>
        </div>
        <div class="tmr"></div>
      </div>
      <div class="b">
        <div class="blt s2 blue">贏1000 x (0.920) = 920<br>(不含本金)</div>
        <div class="bm">
          <div class="bmbl">
            <div class="tt gray">投注主隊</div>
            <div class="tb red">贏920元</div>
          </div>
          <div class="bmbm">
            <div class="tt">賽果</div>
            <div class="tb blue">3 - 0</div>
          </div>
          <div class="bmbmbg">
            <div>賽果</div>
            <div>3 - 0</div>
          </div>
          <div class="bmbr">
            <div class="tt gray">投注客隊</div>
            <div class="tb">輸本金1000元</div>
          </div>
        </div>
        <div class="brt">讓球為 "1球/2球"<br>賽果兩隊分數總合為3<br>故投注客隊輸掉本金</div>
      </div>
      <div class="b">
        <div class="blt">讓球為 "1球/2球"<br>賽果兩隊分數總合為1<br>故投注主隊輸掉本金</div>
        <div class="bm">
          <div class="bmbl">
            <div class="tt gray">投注主隊</div>
            <div class="tb">輸本金1000元</div>
          </div>
          <div class="bmbm">
            <div class="tt">賽果</div>
            <div class="tb blue">3 - 0</div>
          </div>
          <div class="bmbmbg">
            <div>賽果</div>
            <div>3 - 0</div>
          </div>
          <div class="bmbr">
            <div class="tt gray">投注客隊</div>
            <div class="tb red">贏960元</div>
          </div>
        </div>
        <div class="brt s2 blue">贏1000 x (0.960) = 960<br>(不含本金)</div>
      </div>
    </div>
  </ul>
  <ul class="card gray normal_mode mb">
    <li class="g_name bc">
      <p>足球-讓球-贏一半/輸一半</p>
    </li>
    <div class="row h">
      <div class="t">
        <div class="l">
          <div class="i"></div>
          <div class="text">
            <div class="tt">皇家馬德里[主]</div>
            <div class="tb"><span>1球半/2球</span><span class="red">0.920</span></div>
          </div>
        </div>
        <div class="vs">
          <p>VS</p>
        </div>
        <div class="r">
          <div class="i"></div>
          <div class="text">
            <div class="tt">巴塞隆納</div>
            <div class="tb"><span> - </span><span class="red">0.960</span></div>
          </div>
        </div>
      </div>
      <div class="m">
        <div class="tml"></div>
        <div class="tmm">
          <p>投注本金1000元</p>
        </div>
        <div class="tmr"></div>
      </div>
      <div class="b">
        <div class="blt blue">贏1000 x (50%) x (1+0.92)<br>-1000 x 50% = 460<br>(不含本金)</div>
        <div class="bm">
          <div class="bmbl">
            <div class="tt gray">投注主隊</div>
            <div class="tb red">贏460元</div>
          </div>
          <div class="bmbm">
            <div class="tt">賽果</div>
            <div class="tb blue">2 - 0</div>
          </div>
          <div class="bmbmbg">
            <div>賽果</div>
            <div>2 - 0</div>
          </div>
          <div class="bmbr">
            <div class="tt gray">投注客隊</div>
            <div class="tb">輸本金500元</div>
          </div>
        </div>
        <div class="brt s2">輸本金500元<br>1000 x (50%) - 1000=-500</div>
      </div>
    </div>
  </ul>
</div>