<div class="right">
  <div class="wrap none">
    <div class="game_in my_page_bill">
    </div>
    <!--game_in-->
    <div class="search_bar">
    </div>
    <!--search_bar-->
  </div>
  <div class="wrap fixed big_size">
    <div class="game_in my_page_bill">
      <div class="bill_left">
        <p>下載APP</p>
      </div>
      <div class="bill_right">

      </div>
    </div>
    <div class="search_bar">
      <p class="active">下載APP</p>

    </div>
    <!--search_bar-->
  </div>
  <div class="full_box">
    <div class="b50">
      <div class="box">
        <div class="basic_bill">
          <div class="b_name">
            <p class="bf">條碼下載</p>
          </div>
          <div class="save_type download_size">
            <p class="qa_title">
              即刻擁有最強大體育投注平台服務，讓您賽事不漏接，<br>盡情享受流暢操作的遊戲體驗
            </p>
            <div class="mb_box download_mb_box_size">
              <div class="qa_wrap">
                <i class="qa_code"></i>
                <div class="qa_li_box">
                  <div class="b_wrap">
                    <p class="sup">
                      支持IOS和Android
                    </p>
                    <button class="setup_teach">
                      <p>安裝教學</p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--basic_bill-->
      </div>
    </div>
    <div class="b50">
      <div class="box">
        <div class="basic_bill">
          <div class="b_name">
            <p class="bf">直接前往</p>
          </div>
          <div class="save_type download_size">
            <div class="mb_box d_mb_box2">
              <div class="browsers_box">
                <div class="b_on_mid b_link">
                  <i class="brow_i"></i>
                  <div class="brow_li_box">
                    <div class="b_wrap">
                      <p>Chrome瀏覽器</p>
                      <p>www.logo5.com</p>
                    </div>
                  </div>
                </div>
                <button class="b_on_mid setup_teach browser_size">
                  <p>直接前往</p>
                </button>
              </div>
              <!--box1-->
              <div class="browsers_box">
                <div class="b_on_mid b_link">
                  <i class="brow_i i2"></i>
                  <div class="brow_li_box">
                    <div class="b_wrap">
                      <p>IE瀏覽器</p>
                      <p>www.logo51.com</p>
                    </div>
                  </div>
                </div>
                <button class="b_on_mid setup_teach browser_size">
                  <p>直接前往</p>
                </button>
              </div>
              <!--box2-->
            </div>
          </div>
        </div>
        <!--basic_bill-->
      </div>
    </div>
  </div>

</div>