<div class="right">
  <billsave-header (childEvent)="change($event)"></billsave-header>
  <!--支付方式-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">支付方式</p>
      <div class="right_box">
        <div class="question_icon"></div>
        <p>存款教程</p>
      </div>
    </div>
    <div class="save_type">
      <ul id="savebox" #savebox class="row box_7">
        <li *ngFor="let item of money">
          <div [ngClass]="{'active':checkbx[item.CHID]}" class="save_wrap" (click)="checksave(item.CHID)">
            <span [class]="item.spanclass"></span>
            <p>{{ item.title }}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pay_change">
    <!--選擇銀行-->
    <div [ngClass]="{'basic_bill no_hidden pay_1':checkbx[0],'display':!checkbx[0]}">
      <div class="b_name">
        <p class="bf">選擇銀行</p>
      </div>
      <div class="save_type">
        <div class="bk_box">
          <div class="bk_wrap">
            <span class="bk_icon"></span>
            <p>中國銀行</p>
            <ul class="bk_drow">
              <li>
                <span class="bk_icon"></span>
                <p>日本銀行</p>
              </li>
              <li>
                <span class="bk_icon"></span>
                <p>泰國銀行</p>
              </li>
              <li>
                <span class="bk_icon"></span>
                <p>印度銀行</p>
              </li>
            </ul>
            <div class="right_box">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--流水號匯款-->
    <div class="basic_bill no_hidden pay_8" [ngClass]="{'basic_bill no_hidden pay_8':checkbx[7],'display':!checkbx[7]}">
      <div class="b_name">
        <p class="bf">流水號匯款</p>
      </div>
      <div class="save_type">
        <ul class="row">
          <li class="b50">
            <div class="li_h_2_3 row50">
              <p class="title">收款銀行</p>
              <div class="bk_box">
                <div class="bk_wrap">
                  <span class="bk_icon"></span>
                  <p>中國銀行</p>
                  <ul class="bk_drow">
                    <li>
                      <span class="bk_icon"></span>
                      <p>日本銀行</p>
                    </li>
                    <li>
                      <span class="bk_icon"></span>
                      <p>泰國銀行</p>
                    </li>
                    <li>
                      <span class="bk_icon"></span>
                      <p>印度銀行</p>
                    </li>
                  </ul>
                  <div class="right_box">
                    <div class="arrow"></div>
                  </div>
                </div>
              </div>
              <span class="copy">
                <p>複製</p>
              </span>
            </div>
            <div class="li_h_2_3 row50">
              <p class="title">收款帳號</p>
              <input type="text">
              <span class="copy">
                <p>複製</p>
              </span>
            </div>
            <div class="li_h_2_3 row50">
              <p class="title">換款方式</p>
              <div class="text_box">網路轉帳</div>
              <span class="copy">
                <p>複製</p>
              </span>
            </div>
          </li>
          <li class="b50 t_right">
            <div class="li_h_2_3 row50">
              <p class="title">支行</p>
              <div class="bk_box t_left">
                <div class="bk_wrap">
                  <p>廣州新世界銀行</p>
                  <ul class="bk_drow">
                    <li>
                      <p>廣州新世界銀行1</p>
                    </li>
                    <li>
                      <p>廣州新世界銀行2</p>
                    </li>
                    <li>
                      <p>廣州新世界銀行3</p>
                    </li>
                  </ul>
                  <div class="right_box">
                    <div class="arrow"></div>
                  </div>
                </div>
              </div>
              <span class="copy">
                <p>複製</p>
              </span>
            </div>
            <div class="li_h_2_3 row50">
              <p class="title">收款人</p>
              <input type="text">
              <span class="copy">
                <p>複製</p>
              </span>
            </div>
            <div class="li_h_2_3 row50">
              <p class="title">匯款帳號後4碼</p>
              <input type="text">
              <span class="copy_box"></span>
            </div>
          </li>
        </ul>
      </div>


    </div>
    <!--網關卡-->
    <div [ngClass]="{'basic_bill pay_11':checkbx[10],'display':!checkbx[10]}">
      <div class="b_name">
        <p class="bf">支付通道</p>
      </div>
      <div class="save_type">
        <ul class="row box_5">
          <li>
            <div class="save_wrap li_h_3 t_left for_change">
              <div class="icon_change"></div>
              <div class="right_box">
                <p>0</p>
              </div>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_3 t_left for_change">
              <div class="icon_change"></div>
              <div class="right_box">
                <p>1</p>
              </div>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_3 t_left for_change">
              <div class="icon_change"></div>
              <div class="right_box">
                <p>2</p>
              </div>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_3 t_left for_change">
              <div class="icon_change"></div>
              <div class="right_box">
                <p>3</p>
              </div>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_3 t_left for_change">
              <div class="icon_change"></div>
              <div class="right_box">
                <p>4</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
    <!--存款金額-->
    <div [ngClass]="{'basic_bill pay_1':checkbx[0],'display':!checkbx[0]}">
      <div class="b_name">
        <p class="bf">存款金額</p>
      </div>

      <div class="save_type">
        <ul class="row box_5">
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>

        </ul>
        <ul class="row">
          <li class="full">
            <input type="text" placeholder="請輸入100-50000元之間的金額">
            <div class="text_tag li_h_2_3">
              <span class="infor_i"></span>
              <p>建議您存入帶尾數的金額，以便存款後能更快匹配到帳</p>
            </div>
          </li>
        </ul>
        <ul class="row">
          <li class="full">
            <button class="save_btn">
              <p>立即存款</p>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div [ngClass]="{'basic_bill pay_8':checkbx[7],'display':!checkbx[7]}">
      <div class="b_name">
        <p class="bf">匯款金額</p>
      </div>

      <div class="save_type">
        <ul class="row box_5">
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>

        </ul>
        <ul class="row">
          <li class="full">
            <input type="text" placeholder="請輸入100-50000元之間的金額">
            <div class="text_tag li_h_2_3">
              <span class="infor_i"></span>
              <p>單筆金額100~50000元，每日次數無限制</p>
            </div>
          </li>
        </ul>
        <ul class="row">
          <li class="full">
            <button class="save_btn">
              <p>立即存款</p>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div [ngClass]="{'basic_bill pay_11':checkbx[10],'display':!checkbx[10]}">
      <div class="b_name">
        <p class="bf">存款金額</p>
      </div>
      <div class="save_type">
        <ul class="row box_5">
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>
          <li>
            <div class="save_wrap li_h_2_3">
              <p class="money">NT$</p>
              <p>1000</p>
            </div>
          </li>

        </ul>
        <ul class="row">
          <li class="full">
            <input type="text" placeholder="請輸入100-50000元之間的金額">
            <div class="text_tag li_h_2_3">
              <span class="infor_i"></span>
              <p>建議您存入帶尾數的金額，以便存款後能更快匹配到帳</p>
            </div>
          </li>
        </ul>
        <ul class="row">
          <li class="full">
            <button class="save_btn">
              <p>立即存款</p>
            </button>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function () {
    console.log('save_page');
    //_{{支付方式}}
    let pay_array =
      [
        $('.save_wrap.pay_1'),
        $('.save_wrap.pay_2'),
        $('.save_wrap.pay_3'),
        $('.save_wrap.pay_4'),
        $('.save_wrap.pay_5'),
        $('.save_wrap.pay_6')
      ];

    //_{網銀支付:1}
    $('li.pay_1').click(function () {
      pay_type(1);
      let my = $(this).children();
      act_on_off(my);
    })
    //_{流水號匯款}
    $('li.pay_8').click(function () {
      pay_type(8);
      let my = $(this).children();
      act_on_off(my);
    })
    $('li.pay_11').click(function () {
      pay_type(11);
      let my = $(this).children();
      act_on_off(my);
    })
    function act_on_off(my) {
      let all = $('.row.box_7 li')
      all.children().removeClass('active');
      my.addClass('active');
    }
    function pay_type(pay) {
      //_{網銀支付:1}
      if (pay == 1) {
        $('.pay_change .basic_bill.pay_1').siblings().css('display', 'none');
        $('.pay_change .basic_bill.pay_1').css('display', 'block');
        console.log('pay 1');
      }
      //_{流水號匯款:8}
      else if (pay == 8) {
        $('.pay_change .basic_bill.pay_8').siblings().css('display', 'none');
        $('.pay_change .basic_bill.pay_8').css('display', 'block');
      }
      //_{網關卡:11}
      else if (pay == 11) {
        $('.pay_change .basic_bill.pay_11').siblings().css('display', 'none');
        $('.pay_change .basic_bill.pay_11').css('display', 'block');
      }
    }
  })//ready
</script>