<div class="right">
  <trans-header (childEvent)="change($event)"></trans-header>
  <!--錢包金額-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">錢包金額</p>
      <div class="right_box">
        <div class="reset_icon"></div>
        <p>重新整理</p>
      </div>
    </div>
    <div class="save_type trans_marg">
      <div class="trans_wrap b63">
        <div class="mb_box trans full">
          <div class="b50">
            <div class="trans_box">
              <div class="row">
                <i class="icon m1"></i>
                <span>中心錢包</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵回收</button>
                </div>
              </div>
              <div class="row">
                <span>NT$</span><span class="big_t">152,196,589,448</span>
              </div>
            </div>
          </div>
          <div class="b50">
            <div class="trans_box">
              <div class="row">
                <i class="icon m2"></i>
                <span>鎖定錢包</span>
              </div>
              <div class="row">
                <span class="red">NT$</span><span class="big_t red">152,196,589,448</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trans_wrap b37">
        <div class="mb_box trans">
          <div class="sm_title">
            <span class="gold">自動轉點</span>
            <span>開啟後餘額自動轉入遊戲場館</span>
          </div>
          <div [ngClass]="{'active':boolin}" class="switch_icon" (click)="boolinchange()">
            <div class="s_ball"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--addCard-->
  <div class="basic_bill">
    <div class="b_name">
      <p class="bf">錢包明細</p>
    </div>
    <div class="save_type">
      <div class="drow_down">
        <div class="trans_card">
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152,196,589,448</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">15,000</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152,196,589,448</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152</span>
              </div>
            </div>
          </div>
        </div>
        <div class="trans_card hidden">
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152,196,589,448</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">15,000</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152,196,589,448</span>
              </div>
            </div>
          </div>
          <div class="box_4">
            <div class="box">
              <div class="row">
                <span>○○體育</span>
                <div class="right_box">
                  <button class="yellow_btn">一鍵轉入</button>
                </div>
              </div>
              <div class="row">
                <span class="sm_t">NT$</span>
                <span class="big_t">152</span>
              </div>
            </div>
          </div>
        </div>
        <div class="trans_drow_bg">
          <div class="bar_wrap">
            <p>展開</p>
            <span class="arrow_gold"></span>
          </div>
        </div>
      </div>

      <!-- <div class="trans_drow_bg">
              <div class="trans_drow_bar">
                <div class="bar_wrap">
                  展開<span class="arrow_gold"></span>
                </div>
              </div>
            </div> -->

    </div>
  </div>

  <div class="basic_bill no_hidden">
    <div class="b_name">
      <p class="bf">轉點金額</p>
    </div>
    <div class="save_type">
      <div class="trans_row">
        <span class="infor_i"></span><span class="mid_text">場館內錢包不支持互轉</span>
      </div>
      <div class="trans_row">
        <div class="i_box w35p">
          <span class="mid_text">中心錢包</span>
          <ul class="trans_drow">
            <li><span>鎖定錢包</span></li>
          </ul>
          <div class="right_text">
            <span class="arrow"></span>
          </div>
        </div>
        <div class="arrow_trans"></div>
        <div class="i_box w35p">
          <span class="mid_text">○○體育</span>
          <ul class="trans_drow">
            <li><span>○○體育1</span></li>
            <li><span>○○體育2</span></li>
            <li><span>○○體育3</span></li>
            <li><span>○○體育4</span></li>
          </ul>
          <div class="right_text">
            <span class="arrow"></span>
          </div>
        </div>
      </div>
      <div class="trans_row">
        <span class="mid_text">金額輸入</span>
      </div>
      <div class="trans_row">
        <input type="text" class="i_box w35p" placeholder="請輸入100-50000元之間的金額">
      </div>
      <div class="trans_row">
        <button class="i_btn w35p">
          <p>立即轉點</p>
        </button>
      </div>
    </div>
  </div>

</div>

<aside class="add_b_card black_bg">
  <div class="bet_box blue add_card_w">
    <div class="title">
      <p>添加銀行卡</p>
      <span class="close"></span>
    </div>
    <div class="content">
      <div class="window_box">
        <div class="box_2 margin_2">
          <div class="box">
            <div class="row">
              <p class="name gray">開戶銀行</p>
              <div class="right_box">
                <div class="blue_box_size li_2_5">
                  選擇銀行
                  <div class="size_right">
                    <span class="arrow"></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="box">
            <div class="row">
              <p class="name gray">開戶城市</p>
              <div class="right_box half">
                <div class="half_box">
                  <div class="blue_box_size li_2_5">
                    選擇省份
                    <div class="size_right">
                      <span class="arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="half_box">
                  <div class="blue_box_size li_2_5">
                    選擇地級市
                    <div class="size_right">
                      <span class="arrow"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box_2 margin_2">
          <div class="box">
            <div class="row">
              <p class="name gray">支行名稱</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>
          </div>
          <div class="box">
            <div class="row">
              <p class="name gray">銀行帳號</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>
          </div>
        </div>
        <div class="box_2 margin_2">
          <div class="box">
            <div class="row">
              <p class="name gray">戶名</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>

          </div>
          <div class="box">
            <div class="row">
              <p class="name gray">確認帳號</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>
          </div>
        </div>
        <div class="box_2 margin_2">
          <div class="box">
            <div class="row">
              <p class="name gray">手機號碼</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>

          </div>
          <div class="box">
            <div class="row">
              <p class="name gray">QQ帳號</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>
          </div>
        </div>
        <div class="box_2 margin_2">
          <div class="box">
            <div class="row">
              <p class="name gray">Wechat</p>
              <div class="right_box">
                <input class="blue_box_size li_2_5">
              </div>
            </div>

          </div>
          <div class="box">
            <div class="row">

            </div>
          </div>
        </div>
        <div class="mid_box_margin">
          <div class="blue_btn">添加銀行卡</div>
        </div>
      </div>
    </div>
  </div>
</aside>
<script>

  $(document).ready(function () {
    console.log('get_cash_page');

    //<span>修改密碼</span>彈窗
    let ch_pw = $('.tag_wrap .tag.ch_pw');
    let ch_window = $('.black_bg.ch_pw');
    ch_pw.click(function () {
      if (ch_window.hasClass('active') != true) {
        return ch_window.addClass('active');
      }
    })
    //pw_ch close
    let pw_close = $('aside .bet_box.pw_w .title .close');
    pw_close.click(function () {
      return ch_window.removeClass('active');
    })

    //立即轉點 輸入觸發
    let input_cash = $('.trans_row input.w35p.i_box');
    let cash_btn = $('.trans_row .i_btn.w35p');
    input_cash.click(function () {
      if (cash_btn.hasClass('active') != true) {
        return cash_btn.addClass('active');
      } else {
        return cash_btn.removeClass('active')
      }
    })

    //自動轉點_switch
    let sw = $('.switch_icon');
    sw.click(function () {
      if ($(this).hasClass('active') != true) {
        return $(this).addClass('active');
      } else {
        return $(this).removeClass('active');
      }
    })

    //展開&收合
    let drow = $('.trans_drow_bg .bar_wrap');
    drow.click(function () {
      if ($(this).parents().hasClass('active') == false) {
        $(this).parents('.drow_down').addClass('active').slideDown('slow');
        $(this).children('p').text('收合');
      } else {
        $(this).parents('.drow_down').removeClass('active');
        $(this).children('p').text('展開');
      }
    })



  })
</script>